<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- To Magnes - PayPal -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To Magnes - PayPal -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- To Magnes - PayPal - for reading GSF ID -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /> <!-- To Magnes - PayPal -->

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".TestApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_tag"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_tag"
        android:supportsRtl="true"
        android:theme="@style/Theme.PASE.Start"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.main.view.SplashScreen"
            android:configChanges="uiMode" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.view.MainActivity"
            android:theme="@style/Theme.PASE"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustResize">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>